
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parkinson's Disease Prediction</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white text-gray-800">

 
  <header class="bg-black text-white py-4">
    <div class="max-w-7xl mx-auto px-6 flex justify-between items-center">
      <h1 class="text-xl font-bold uppercase">Parkinson's Disease Prediction</h1>
      <nav class="space-x-6">
        <a href="/" class="hover:text-gray-300">Home</a>
        <a href="/about" class="hover:text-gray-300">About Parkinson's</a>
        <a href="/prediction" class="hover:text-gray-300">Prediction Tool</a>
        <a href="/symptoms" class="hover:text-gray-300">Symptoms</a>
      </nav>
    </div>
  </header>

 
  <section class="bg-[url('/static/images/bg.jpeg')] bg-cover bg-center py-24 h-[600px] mt-[0.5px] " id="hero">
    <div class="max-w-7xl mx-auto px-6 text-center">
      <!-- <h2 class="text-4xl font-bold mb-4">Predict Your Risk for Parkinson's Disease</h2>
            <p class="text-xl mb-6">Empowering you with early insights to help manage your health effectively.</p>
            <a href="/prediction" class="bg-yellow-500 text-blue-800 py-2 px-6 rounded-full text-xl font-semibold hover:bg-yellow-400 transition duration-300">Check Your Risk Now</a> -->
    </div>
  </section>


  <section class="py-20 flex px-6 " id="about">
    <div class=" mx-auto px-6  bg-white ">
      <h2 class="text-4xl font-bold text-gray-800 mb-6">About Parkinson's Disease</h2>
      <p class="text-lg  mb-8 max-w-4xl mx-auto text-justify ">
        Parkinson's Disease is a neurodegenerative disorder that affects movement. It occurs when nerve cells in the
        brain become damaged or die, leading to symptoms like tremors, stiffness, and slowness of movement. Early
        detection and intervention can lead to better management and improved quality of life for individuals living
        with the disease.
      </p>
      <a href="/about"
        class="text-blue-800 font-semibold hover:text-blue-800 transition duration-300 ease-in-out transform hover:scale-105 ">
        Learn More
      </a>
    </div>
    <img src="/static/images/about.jpg" class="w-1/3 rounded-lg">
  </section>


 
  <section class="py-20 flex  px-12 " id="prediction">
    <img src="/static/images/testtool.webp" class="w-1/3 rounded-lg">
    <div class="max-w-7xl mx-auto flex flex-col justify-center">
      <h2 class="text-4xl font-bold mb-4">Parkinson’s Disease Risk Prediction Tool</h2>
      <p class="text-lg mb-6">Empowering you with early insights to help manage your health effectively.</p>
      <a href="/prediction"
        class="bg-green-800 text-white py-2 px-6 rounded-full text-xl font-semibold hover:bg-green-400 transition duration-300 w-[300px] text-center">Start
        the Prediction</a>
    </div>
  </section>


  <section class="py-20 bg-white flex px-6" id="symptoms">
    <div class="max-w-7xl mx-auto px-6 flex flex-col justify-center">
      <h2 class="text-3xl font-bold mb-4">Symptoms and Diagnosis</h2>
      <p class="text-lg mb-6">Learn about the early symptoms of Parkinson's Disease and how it is diagnosed through
        medical tests and evaluation.</p>
      <a href="/symptoms" class="text-blue-800 font-semibold hover:underline">Check Symptoms</a>
    </div>
    <img src="/static/images/symptom.jpg" class="w-1/3 rounded-lg">
  </section>


  <footer class="bg-blue-900 text-white py-4" id="contact">
    <div class="max-w-7xl mx-auto px-6 text-center">
      <p>&copy; 2024 Parkinson's Disease Prediction. All Rights Reserved.</p>
    </div>
  </footer>

</body>

</html>