<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkinson's Disease Prediction</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white text-gray-800">

    <header class="bg-black text-white py-4">
        <div class="max-w-7xl mx-auto px-6 flex justify-between items-center">
            <h1 class="text-xl font-bold uppercase">Parkinson's Disease Prediction</h1>
            <nav class="space-x-6">
                <a href="/" class="hover:text-gray-300">Home</a>
                <a href="/about" class="hover:text-gray-300">About Parkinson's</a>
                <a href="/prediction" class="hover:text-gray-300">Prediction Tool</a>
                <a href="/symptoms" class="hover:text-gray-300">Symptoms</a>
            </nav>
        </div>
    </header>





    <body class="bg-gray-100 text-gray-800 font-sans">
        <header class=" text-black pt-8 text-center uppercase text-blue-800 font-serif">
            <div class="px-4">
                <h1 class="text-3xl font-bold">Symptoms of Parkinson's Disease</h1>
            </div>
        </header>

        <main>


            <section class="">
                <!-- Motor Symptoms Section -->
                <div
                    class="mb-8 flex bg-gray-100 border border-gray-300 rounded-lg p-6 shadow-md max-w-4xl mx-auto my-8">
                    <div class="text-justify pr-8">
                        <h3 class="text-2xl font-semibold text-gray-800 border-b-2 border-blue-500 pb-2 mb-4">1. Motor
                            Symptoms</h3>
                        <p class="text-gray-600 text-base mb-6">The most recognizable symptoms of Parkinson's Disease
                            are motor-related and include:</p>
                        <ul class="space-y-6">
                            <li><strong class="text-gray-800">Tremors:</strong> Involuntary shaking, often starting in
                                the hands or fingers. It is more noticeable when at rest.</li>
                            <li><strong class="text-gray-800">Bradykinesia:</strong> Slowness of movement, making simple
                                tasks take longer than usual.</li>
                            <li><strong class="text-gray-800">Rigidity:</strong> Stiffness in the muscles that can limit
                                the range of motion and cause pain.</li>
                            <li><strong class="text-gray-800">Postural Instability:</strong> Poor balance and
                                coordination, which can increase the risk of falls.</li>
                            <li><strong class="text-gray-800">Freezing Episodes:</strong> A temporary inability to move,
                                particularly when initiating walking.</li>
                        </ul>
                    </div>
                    <div class=" w-1/3  mt-10  ">
                        <img src="/static/images/motor-symptoms.jpg" alt="Motor Symptoms">
                        <img src="/static/images/motor.jpg" alt="Motor Symptoms" class="mt-6">
                    </div>
                </div>

                <!-- Non-Motor Symptoms Section -->
                <div class="bg-gray-100 border border-gray-300 rounded-lg p-6 shadow-md max-w-4xl mx-auto my-8 flex ">
                    <div class="text-justify pr-6">
                        <h3 class="text-2xl font-semibold text-gray-800 border-b-2 border-blue-500 pb-2 mb-4">2.
                            Non-Motor
                            Symptoms</h3>
                        <p class="text-gray-600 text-base mb-6">In addition to motor symptoms, Parkinson's Disease can
                            lead
                            to a variety of non-motor symptoms, including:</p>
                        <ul class="space-y-6">
                            <li><strong class="text-gray-800">Sleep Disorders:</strong> Difficulty sleeping, vivid
                                dreams,
                                or daytime sleepiness.</li>
                            <li><strong class="text-gray-800">Depression and Anxiety:</strong> Emotional changes and
                                mood
                                swings.</li>
                            <li><strong class="text-gray-800">Loss of Smell:</strong> Early loss of sense of smell
                                (anosmia).</li>
                            <li><strong class="text-gray-800">Constipation:</strong> Slower digestive processes.</li>
                            <li><strong class="text-gray-800">Cognitive Impairment:</strong> Issues with memory,
                                thinking,
                                and decision-making, especially in later stages.</li>
                            <li><strong class="text-gray-800">Fatigue:</strong> Persistent tiredness unrelated to
                                activity
                                levels.</li>
                        </ul>
                    </div>
                    <div class=" w-1/3  mt-12 ">
                        <img src="/static/images/non-motor1.jpg" alt="Motor Symptoms">
                        <img src="/static/images/non-motor2.jpg" alt="Motor Symptoms" class="mt-16">
                    </div>
                </div>
            </section>

            <section class=" py-8">
                <header class="text-center uppercase text-blue-800 font-serif">
                    <div class="px-4">
                        <h2 class="text-3xl font-bold text-black mb-4">How is Parkinson's Disease Diagnosed?</h2>
                    </div>
                </header>
            
                <div class="max-w-4xl mx-auto px-4 text-gray-700 text-justify mt-10">
                    <p class="text-base mb-6">Diagnosing Parkinson's Disease is a clinical process since no single test can confirm its presence. Doctors rely on a combination of medical history, symptoms, and tests:</p>
            
                    <ul class="space-y-4 text-lg">
                        <li>
                            <strong class="text-gray-900">Neurological Examination:</strong> A physical assessment of movement, reflexes, and coordination.
                        </li>
                        <li>
                            <strong class="text-gray-900">Medical History:</strong> Identifying symptoms and any family history of neurological disorders.
                        </li>
                        <li>
                            <strong class="text-gray-900">Imaging Tests:</strong> Although not used to diagnose Parkinson's, MRI or CT scans may rule out other conditions.
                        </li>
                        <li>
                            <strong class="text-gray-900">Dopamine Transporter Scan (DaTscan):</strong> A specialized imaging test to assess dopamine-producing neurons.
                        </li>
                        <li>
                            <strong class="text-gray-900">Response to Medication:</strong> Improvement of symptoms after starting Parkinson's medications can confirm the diagnosis.
                        </li>
                    </ul>
                </div>
            </section>
            

        </main>


        <!-- Footer Section -->
        <footer class="bg-blue-900 text-white py-4" id="contact">
            <div class="max-w-7xl mx-auto px-6 text-center">
                <p>&copy; 2024 Parkinson's Disease Prediction. All Rights Reserved.</p>
            </div>
        </footer>

    </body>

</html>